<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add semester marks</title>
</head>
<body>
    <input type="text" id="admNo" placeholder="enter admission No">
    <input type="text" id="grade" placeholder="enter grade point">
    <button onclick="addToStudentList()">Add grade</button>

    <br>
    <button onclick="sendJSON()">Save Grades</button>


    <script src="/script/add_sem_client.js"></script>
</body>
</html>