<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body><h1>INTERNALS</h1>
    <% for (var i =0; i < internalData.length;  i++ ) { %>
        <div> Assignment : <%= internalData[i].internal_no %></a>&nbsp;&nbsp;&nbsp;<%= internalData[i].co_1 %>&nbsp;&nbsp;&nbsp;</div>
          <% } %>
          <a href="/course/add_internal/<%= dynamicId%>">Add internals</a>
</body>
</html>