<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form method="post" action="/home/add_course">
            <select name="course">
              <option value="volvo">course1</option>
              <option value="saab">Course</option>
              <option value="fiat">Course</option>
              <option value="audi">Course</option>
            </select>

            <select name="course_name">
            <option value="">course1</option>
            <option value="">Course</option>
            <option value="">Course</option>
            <option value="">Course</option>
          </select>
            <br><br>
            <input type="submit">
          </form>
</body>
</html>