<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
   <a href="/login">login</a>
    <h1></h1>
  </body>
</html>
