<!-- <!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Landing Page</h1>
   <a href="/login">login</a>
    <h1></h1>
  </body>
</html> -->
<html>

<head>
    <link rel="stylesheet" href="./css/landing.css">
    <title>Landing</title>
</head>

<body>
    <div class="cent">
        <h1 class="nba">NBA ACCREDITATION</h1>
        <h3 class="college">COLLEGE OF ENGINEERING TRIVANDRUM</h3>
        <img src="./images/cet.jpeg" class="image">
       <a href="/login">  <button class="add">LOGIN</button></a>
    </div>
</body>

</html>