<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <form action="/login" method="POST">
    <input type="text" name="coursecode">
    <input type="text" name="name">
    <input type="text" name="semester">
    <input type="submit" value="aaaa">
    </form>
    <h1></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
