<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%=facData%><br>
    <a href="/home/add_course">add course</a>
    <a href="/logout">logout</a>

    <% for (var i =0; i < courses.length;  i++ ) { %>
    <div><%= courses[i].course_code %>&nbsp;&nbsp;&nbsp;<%= courses[i].batch %>&nbsp;&nbsp;&nbsp;<%= courses[i].updatedAt%></div>
      <% } %>

</body>
</html>